{% extends 'base.html'%}

{% block content %}
<div class="text-center container">
    <div class="row py-lg-5 w-50 mx-auto">
        <h1 class="fw-light">NurAlem</h1>
        <p class="lead text-body-secondary ">это компания, специализирующаяся на разработке информационных технологий<br>  и создании IT-продуктов.Одним из их значимых проектов является разработка приложения под названием "SmartDoc".</p>
        <a href="{% url 'contacts'%}" class="btn btn-primary my-2  w-50 mx-auto">Become part of history</a>
    </div>
</div>
{% endblock %}